<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.swx.dao.RecruitmentMapper">

    <insert id="addRecruitment">
        insert into T_RECRUITMENT values(T_RECRUITMENT_SEQ.nextval,#{rm_cid},#{rm_jdesc},
        #{rm_jname},#{rm_peopleneeded},#{rm_requirement},#{rm_money},#{rm_workplace},0)
    </insert>
    <select id="listAll" resultType="com.swx.model.Recruitment">
        select * from T_RECRUITMENT
    </select>
    <select id="getRecruitmentById" resultType="com.swx.model.Recruitment">
        select *
        from T_RECRUITMENT
        where rm_id=#{rm_id}
    </select>
</mapper>