<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swx.dao.SalaryMapper">
    <select id="listAll" resultType="com.swx.model.Salary">
        select *
        from T_SALARY
        where s_eid=#{e_id}
    </select>
</mapper>