<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swx.dao.SalaryMapper">
    <insert id="addSalary">
        insert into T_SALARY values(T_SALARY_SEQ.nextval,#{s_eid},#{s_bonus},#{s_date},#{s_status},
        #{s_punish},#{s_salary},#{s_finalSalary})
    </insert>
    <update id="updateSalary">
        update T_SALARY set S_STATUS=#{s_status}
        where s_id=#{s_id}
    </update>
    <select id="listAll" resultType="com.swx.model.Salary">
        select *
        from T_SALARY
        where s_eid=#{e_id}
    </select>
    <select id="getSalaryById" resultType="com.swx.model.Salary">
        select *
        from T_SALARY
        where s_id=#{s_id}
    </select>
    <select id="searchAll" resultType="com.swx.model.Salary">
        select *
        from T_SALARY
    </select>
</mapper>