<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swx.dao.UserMapper">

    <insert id="addUser">
        insert into t_user values(T_USER_SEQ.nextval,#{u_name},#{u_pass},0)
    </insert>
    <select id="getUser" resultMap="userAndResume">
        select u.*,r.*
        from (select * from T_USER where u_name=#{u_name} and u_pass=#{u_pass})u
        left join t_resume r on u.u_id=r.r_uid
    </select>
    <resultMap id="userAndResume" type="User">
        <id property="u_id" column="u_id"/>
        <result property="u_name" column="u_name"/>
        <result property="u_pass" column="u_pass"/>
        <result property="u_status" column="u_status"/>
        <collection property="resumes" ofType="Resume">
            <id property="r_id" column="r_id"/>
            <result property="r_name" column="r_name"/>
            <result property="r_age" column="r_age"/>
            <result property="r_ethnicity" column="r_ethnicity"/>
            <result property="r_phone" column="r_phone"/>
            <result property="r_height" column="r_height"/>
            <result property="r_weight" column="r_weight"/>
            <result property="r_intension" column="r_intension"/>
            <result property="r_address" column="r_address"/>
            <result property="r_schoolofgraduation" column="r_schoolofgraduation"/>
            <result property="r_selfassessment" column="r_selfassessment"/>
            <result property="r_intership" column="r_intership"/>
            <result property="r_award" column="r_award"/>
        </collection>
    </resultMap>

    <select id="getUserByName" resultType="com.swx.model.User">
        select *
        from T_USER
        where u_name=#{u_name}
    </select>
</mapper>
